{% extends 'base/navbar.html' %}

{% block content %}
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <h2 style="text-align: center; font-size: 2em; margin-bottom: 20px;">Active Jobs</h2>
    <ul class="w3-ul">
        {% for job in active_jobs %}
            <li class="w3-card-4 w3-margin w3-padding" style="display: flex; align-items: center;">
                <div style="flex: 1;">
                    <h3 style="margin: 0; font-size: 1.5em;">{{ job.title }}</h3>
                    <p style="margin: 5px 0; color: grey;">Employee: {{ job.employee.username }}</p>
                    <br>
                    <span style="color: {% if job.get_status == 'Completed' %}green{% else %}orange{% endif %};">{{ job.get_status }}</span>
                </div>
            </li>
        {% empty %}
            <li class="w3-card-4 w3-margin w3-padding">
                <p style="text-align: center; color: grey;">No active jobs.</p>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
