{% extends 'base/navbar.html' %}

{% block content %}
<style>
    .dashboard-container {
        max-width: 1400px;
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 20px;
    }

    .dashboard-link {
        padding: 10px 15px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background-color: #FF7518;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .dashboard-link:hover {
        background-color: #8B4000;
    }
</style>
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <h2>{{ user.username }}'s Profile</h2>
    <div class="dashboard-container">
        {% if is_employer %}
            <a href="{% url 'employer_jobs' %}" class="dashboard-link">My Job Listings</a>
            <a href="{% url 'employer_active_jobs' %}" class="dashboard-link">My Active Jobs</a>
        {% else %}
            <p>You are not authorised to view this page.</p>
        {% endif %}
    </div>
    <h3>Reviews</h3>
    <div class="w3-card w3-round w3-white w3-padding">
        {% for job in jobs_done %}
            {% if job.employer_rating %}
                <div class="w3-container">
                    <strong>{{ job.employee.username }}</strong>
                    <p>Job: {{ job.title }}</p>
                    <p>Rating: {{ job.employer_rating }}/5</p>
                    <p>Comments: {{ job.employer_feedback }}</p>
                </div>
            {% endif %}
        {% empty %}
            <p>No reviews yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}