{% extends 'base/navbar.html' %}

{% block content %}
<style>
    .profile-container {
        max-width: 1200px;
        margin: 50px auto;
        padding: 20px;
        background: #F4EEE0;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .profile-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .profile-header img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin-right: 20px;
    }
    .profile-header h2 {
        margin: 0;
        font-size: 32px;
        color: #FF7518;
    }

    .profile-details {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .profile-details .detail-item {
        width: 48%;
        margin-bottom: 20px;
    }

    .profile-details .detail-item h4 {
        margin-bottom: 5px;
        font-size: 18px;
        color: #333;
    }

    .profile-details .detail-item p {
        margin: 0;
        color: #555;
    }
    .reviews-container {
        margin-top: 40px;
    }

    .review-item {
        background: #fff;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .review-item strong {
        color: #FF7518;
        font-size: 18px;
    }

    .review-item p {
        margin: 5px 0;
        color: #555;
    }
</style>
<div class="profile-container">
    <div class="profile-header">
    </div>
    <div class="profile-details">
        <div class="detail-item">
            <h4>Name</h4>
            <p>{{ employer.employer_profile.first_name}} {{ employer.employer_profile.last_name }}</p>
        </div>
        <div class="detail-item">
            <h4>Company</h4>
            <p>{{ employer.employer_profile.company }}</p>
        </div>
        <div class="detail-item">
            <h4>Location</h4>
            <p>{{ employer.employer_profile.location }}</p>
        </div>
        <div class="detail-item">
            <h4>Email</h4>
            <p>{{ employer.email }}</p>
        </div>
    </div>
    <h3>Reviews</h3>
    <div class="reviews-container">
        {% for job in jobs_done %}
            {% if job.employer_rating %}
                <div class="review-item">
                    <strong>{{ job.employee.username }}</strong>
                    <p>Job: {{ job.title }}</p>
                    <p>Rating: {{ job.employer_rating }}/5</p>
                    <p>Comments: {{ job.employer_feedback }}</p>
                </div>
            {% endif %}
        {% empty %}
            <p>No reviews yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}