{% extends 'base/navbar.html' %}

<style>
    .status-container {
        display: flex;
        gap: 10px;
        margin-left: 10px;
    }
</style>

{% block content %}

<div class="w3-container w3-content" style="max-width:1400px; margin-top:80px;">
    <h2 style="text-align: center; font-size: 2em; margin-bottom: 20px;">Submitted Applications</h2>
    <ul class="w3-ul">
        {% for application in applications %}
            <li class="w3-card-4 w3-margin w3-padding" style="display: flex; align-items: center;">
                <div style="flex: 1;">
                    <h3 style="margin: 0; font-size: 1.5em;">{{ application.job.title }}</h3>
                    <p style="margin: 5px 0; color: grey;">Employer: {{ application.job.employer }}</p>
                    <p style="margin: 5px 0; color: grey;">Date applied: {{ application.date_applied }}</p>
                </div>
                <div class="status-container">
                    {% if application.status == 'Accepted' %}
                        <span style="color: green">Accepted</span>
                    {% elif application.status == 'Rejected' %}
                        <span style="color: red">Rejected</span>
                    {% else %}
                        <span style="color: grey">Pending</span>
                    {% endif %}
                </div>
            </li>
        {% empty %}
            <li class="w3-card-4 w3-margin w3-padding">
                <p style="text-align: center; color: grey;">No pending applications.</p>
            </li>
        {% endfor %}
    </ul>
    <br>
</div>

{% endblock %}