{% extends 'base/navbar.html' %}

{% block content %}
<head>
	<title>Signup</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

	<style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #ffffff;
		}
		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #ffffff;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			border-radius: 5px;
		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #333;
		}
		.login_btn {
			width: 100%;
			background: #FF7518;
			color: white;
			border-radius: 30px;
		}
		.login_btn:focus {
			box-shadow: none;
			outline: 0px;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #FF7518;
			color: white;
			border: 0;
			border-radius: 0.25rem 0 0 0.25rem;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none;
			outline: 0px;
		}

	</style>

</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Sign up to Cashu</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
    
					<form method="POST" action="">
                        {% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.username}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
							</div>
							{{form.email}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password1}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password2}}
						</div>
						<p style="font-size: 0.8em; color: #6c757d;">
							Passwords must:
							<ul style="margin-top: 5px; margin-bottom: 5px;">
								<li>Be at least 8 characters long</li>
								<li>Contain both letters and digits</li>
							</ul>
						</p>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class = "input-group-text"><i class="fas fa-user-tie"></i></span>
							</div>
							<select name="role" id="id_role" class="form-control">
								<option value="employee">Employee</option>
								<option value="employer">Employer</option>
							</select>
						</div>
						<!-- employee profile fields -->
						<div id="employee_fields">
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-id-card"></i></span>
								</div>
								{{ form.employee_first_name }}
							</div>
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-id-card"></i></span>
								</div>
								{{ form.employee_last_name }}
							</div>
							<p style="font-size: 0.8em; color: #6c757d;">Date of Birth:</p>
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
								</div>
								{{ form.dob }}
							</div>
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
								</div>
								{{ form.employee_location }}
							</div>
						</div>		
						<div id="employer_fields">
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-id-card"></i></span>
								</div>
								{{ form.employer_first_name }}
							</div>
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-id-card"></i></span>
								</div>
								{{ form.employer_last_name }}
							</div>
							<p style="font-size: 0.8em; color: #6c757d;">Date of Birth:</p>
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-building"></i></span>
								</div>
								{{ form.company }}
							</div>
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
								</div>
								{{ form.employer_location }}
							</div>
						</div>
						{% if form.non_field_errors %}
							<div class="alert alert-danger" role="alert">
								{{ form.non_field_errors }}
							</div>
						{% endif %}
						{% for field in form %}
							{% if field.errors %}
								<div class="alert alert-danger" role="alert">
									{{ field.errors }}
								</div>
							{% endif %}
						{% endfor %}
				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="Register Account">
				   		</div>
					</form>
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>

		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';
		form_fields[5].placeholder='First Name..';
		form_fields[6].placeholder='Last Name..';
		form_fields[8].placeholder='Location..';
		form_fields[9].placeholder='First Name..';
		form_fields[10].placeholder='Last Name..';
		form_fields[11].placeholder='Company..';
		form_fields[12].placeholder='Location..';

		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}

		// shows or hides employee profile fields based on role selection
		document.getElementById('id_role').addEventListener('change', function() {
			var employeeFields = document.getElementById('employee_fields');
			var employerFields = document.getElementById('employer_fields');
			if (this.value === 'employee') {
				employeeFields.style.display = 'block';
				employerFields.style.display = 'none';
			} else if (this.value === 'employer') {
				employeeFields.style.display = 'none';
				employerFields.style.display = 'block';
			}
		});

		window.onload = function() {
			var employeeFields = document.getElementById('employee_fields');
			var employerFields = document.getElementById('employer_fields');
			if (document.getElementById('id_role').value === 'employee') {
				employeeFields.style.display = 'block';
				employerFields.style.display = 'none';
			} else if (document.getElementById('id_role').value === 'employer') {
				employeeFields.style.display = 'none';
				employerFields.style.display = 'block';
			}
		};
	</script>
</body>

{% endblock %}